.item-details {
    text-align: center;
    outline-width: 2px;
    outline-style: solid;
    outline-offset: -6px;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    div {
        font-size: 2rem;
    }
}

.item-name {
    font-size: 4rem;
}