<div class="body" (pointerdown)="onPress($event)" (pointerup)="onRelease($event)" (pointerleave)="onCancel()">
    <div class="flex-col item-details flex-center"
         [ngStyle]="{'background': item.details?.color ?? 'var(--accentBackground)', 'color': getContrastColor(item.details?.color ?? '#000000')}">
        @if (item.details) {
            <p>{{ item.details.name }}</p>
            <p>{{ item.details.price | currency: 'EUR' }}</p>
            <p>({{ item.amount ?? 0 }})</p>
        }
    </div>
</div>