.flex-col {
    width: 80%;
    text-align: right;
}

.table-row {
    justify-content: space-between;
    p {
        width: 100%;
    }
}

.bold {
    font-weight: bold;
}

#toolbar {
    position: fixed;
    bottom: 10px;
    span {
        color: red;
        font-weight: bold;
    }
}