.flex-col {
    width: 80%;
    text-align: right;
}

.table-row {
    justify-content: space-between;
    p {
        width: 100%;
    }
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: 1px solid #000;
}

.border-bottom {
    border-bottom: 1px solid #000;
}