<div class="body">
    <div class="flex-col">
        <div class="flex-row table-row bold border-bottom">
            <p>Name</p>
            <p>Einzelpreis</p>
            <p>Menge</p>
            <p>Gesamtpreis</p>
        </div>
        @for (item of items; track item.uniqueString) {
            <div class="flex-row table-row">
                <p>{{item.name}}</p>
                <p>{{item.price | currency: 'EUR'}}</p>
                <p>{{item.amount}}</p>
                <p>{{(item.price * item.amount) | currency: 'EUR'}}</p>
            </div>
        }
        <div class="flex-row table-row bold border-top">
            <p>Summe:</p>
            <p>{{total | currency: 'EUR'}}</p>
        </div>
    </div>

    <div id="toolbar" class="flex-col flex-center">
        <div class="flex-row">
            <button (click)="confirm('Möchtest du wirklich alle Einträge löschen?') && delete()">Löschen</button>
            <button style="background: var(--primary); color: white" (click)="copyToClipboard()">Kopieren</button>
            <button style="background: var(--primary); color: white" (click)="downloadCSV()">Als CSV herunterladen</button>
            <button style="background: var(--primary); color: white" (click)="sendPerMail()">Per Email senden</button>
        </div>
    </div>
</div>
