<div class="body">
    <div class="flex-col">
        @for (row of itemRows; track row[0].index) {
            <div class="flex-row">
                @for (item of row; track item.index) {
                    <app-item-box class="item-box"
                                  [item]="item"
                                  (clickAction)="text = 'click'"
                                  (holdAction)="text = 'Hold'"></app-item-box>
                }
            </div>
        } @empty {
            <p>Keine Items</p>
        }
    </div>
</div>
<button id="newButton" (click)="newItem()">+{{ text }}</button>
